table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  td{
    cursor: pointer;
    transition: all 0.3s ease;
  }

  td:hover{
    background-color: #ccc;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .table-head{
      width: 60px;
      text-align: center;
  }
  .table-item{
      display: flex;
      justify-content: center;

  }
  .color-bg .red{
      width: 40px;
      height: 10px;
      background-color:rgb(255, 99, 132) ;
  }
  .color-bg .green{
      width: 40px;
      height: 10px;
      background-color:rgb(75, 192, 192) ;
  }
  .color-bg .yellow{
      width: 40px;
      height: 10px;
      background-color:rgb(255, 205, 86) ;
  }
  .color-bg .grey{
      width: 40px;
      height: 10px;
      background-color:rgb(201, 203, 207) ;
  }
  .color-bg .blue{
      width: 40px;
      height: 10px;
      background-color:rgb(54, 162, 235) ;
  }
  .color-bg .black{
      width: 40px;
      height: 10px;
      background-color:rgb(14, 14, 14) ;
  }